$red: #FF4D4D;
$maroon: #560909;
$green-bg: #1E842D;

.reveal {

    // undo word-breaking rules, look terrible in Firefox
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
            -moz-hyphens: none;
            -webkit-hyphens: none;
        hyphens: none;
        word-break: normal;
    }
    .grid {
        width: 100%;
    }

    .grid:after {
        display: table;
        content: "";
        clear: both;
    }

    .c1-of-2 {
        float: left;
        width: 50%;
    }

    // excessive top padding
    .slides > section {
        padding-top: 0;
    }

    // for title page only
    h1 {
        &.title {
            line-height: .55;
            margin-bottom: .6em;
        }

        > span {
            font-size: 0.4em;
            font-weight: bold;
            letter-spacing: 4px;
            color: $maroon;
            &.odd {
                letter-spacing: -8px;
                font-weight: 400;
                color: $red;
            }
        }
    }

    .pop-text {
        color: $red;
        // this is basically a text-stroke polyfill
        // needed on Firefox but looks sort of awful
        // text-shadow: 3px 3px 0 #000,
        //     3px -3px 0 #000,
        //     -3px -3px 0 #000,
        //     -3px 3px 0 #000;
            -webkit-text-stroke: 3px #000;
        text-stroke: 3px #000;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        // fix filtered img displaying over pop-text
        &.visible {
            z-index: 1;
        }
    }

    // redo highlighting, which originally didn't work in code samples
    pre > code .fragment.highlight-green.visible {
        color: inherit !important;
        background-color: $green-bg;
    }

    // new "fade" pseudo-fragment implemented in custom.js
    .fade-img {
            -webkit-filter: brightness(40%);
        filter: brightness(40%);
    }
}
